@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
  --color-stevens-red: #A32638;
  --color-stevens-gray: #7F7F7F;
  --color-dark-gray: #363D45;
  --color-light-gray: #E4E5E6;
  --color-medium-gold: #EBC73B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* see layout.js for font variable definitions */
  --font-extra: var(--font-saira-extra-condensed);
  --font-bitter: var(--font-bitter);
  --color-stevens-red: #A32638;
  --color-stevens-gray: #7F7F7F;
  --color-dark-gray: #363D45;
  --color-light-gray: #E4E5E6;
  --color-medium-gold: #EBC73B;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-saira-extra-condensed);
}

p {
  font-family: var(--font-bitter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
